a.navbar-brand.navbar-link{
  font-family:kristen ITC;
  color:white;
}

i.glyphicon.glyphicon-star{
}

i.fa.fa-music{
  color:orange;
}

#logo{
  max-height:35px;
}

#topnav{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#leftnav{
	/* background-color:  #f3f2f2; */
	margin-top: 75px;
	margin-left: 20px;
	position: fixed;
}

ul{
	list-style-type: none;
}
li{
	display: block;
}

/*Post (Thoughts) CSS*/
.belowtn{
	top: 50px;
	position: relative;
	
}

.postcont{
	
	position: relative;
	padding: 2px;
}

.posthead{
	margin-top: 20px;
	background: linear-gradient(white,#DCDCDC);
	border: 1px solid rgb(217,217,217);
	padding: 16px 12px 12px 12px;
}
.postbody{
	background-color: rgb(242,242,242);
	padding: 15px;
}
.postbodycont{
	border-radius: 10px;
	background-color: white;
	border: 1px solid orange;
	padding: 8px 7px 3px 7px;
	margin-bottom: 5px;
}
a.user:hover{
	color: black;
	cursor: pointer;
}
.like{
	/* color: rgb(242,242,242); */
}

.belowpost{
	background-color: pink;
}

.dp{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid orange;
	}
		
.dpframe{
	margin: 10px auto; 
	width: 100%; 
	background-color: #606060; 
	height: 150px; 
	padding: 10px auto;
}
#headcover{
	width: 100%;
	height: 150px;
	margin-left: 20px; 
	background-size: cover;
}
		
#listNav{
	margin: 0 auto; 
	position:relative;
	
}
.leftdp{
	margin-top: 10px; width: 90px; border: 2px solid orange; border-radius: 50%;
}
.searchbar:focus{
	border: 1px solid orange;
	
}


.post{
	margin: 0 auto;
	
}
